# Keep Sample Mode offline by default.
EXPO_PUBLIC_DATA_MODE=sample

# Switch EXPO_PUBLIC_DATA_MODE to aws_dev to use the deployed development API.
EXPO_PUBLIC_API_BASE_URL=https://bqrr070bkf.execute-api.us-east-2.amazonaws.com
